a{
  color: inherit;
  display: inherit;
  text-decoration: none;
  background-color: inherit;
}
.App{
  width: 80%;
  margin: 0 auto;
}
.newPost{
  padding: 5px 15px;
  background-color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  color: #99ddee;
  border-radius: 5px;
  box-shadow: 1px 1px 11px -3px #000;
  margin-top: 7px;
  font-family: 'Courier New', Courier;
  text-transform: uppercase;
  letter-spacing: -1px;
}
*{
  box-sizing: border-box;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
